<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" 
xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
layout:decorator="layout/layout">
<head>
<meta charset="UTF-8">
<title>게시글 목록화면</title>
<!-- CSS only -->
<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">	
<!-- JavaScript Bundle with Popper -->
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p" crossorigin="anonymous"></script>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
</head>
<body>
<div class="container body">
<!-- 상단 -->
<th:block th:replace ="fragment/header ::headerFragment"></th:block>
<div class="main_container">
개시글 총개수:<span th:text="${count}"></span>
<div class="table-container">
	<table class="table">
	  <thead>
	    <tr>
	      <th scope="col"><input id="allCheck" type="checkbox" name="allCheck"></th>	
	      <th scope="col">글번호</th>
	      <th scope="col">글 제목</th>
	      <th scope="col">작성자</th>
	      <th scope="col">글 등록일</th>
	      <th scope="col">조회수</th>
	    </tr>
	  </thead>
	  <tbody>
	    <tr th:each="list:${boardList}">
	     <td><input type="checkbox" name="RowCheck" th:value="${list.boardId}"></td>
	     <td th:text="${list.boardId}"></td>
	     <td>
	   	    <a th:href="@{'/board/detailForm/'+${list.boardId}(page=${paging.cri.page},perPageNum=${paging.cri.perPageNum})}">
	           <span th:text="${list.boardTitle}"></span>
	        </a>
	     </td>
	     <td th:text="${list.boardWriter}"></td>
	     <td th:text="${#temporals.format(list.regDate,'yyyy-MM-dd HH:mm:ss')}"></td>
	     <td th:text="${list.HITCOUNT}"></td>
	    </tr>
	  </tbody>
	</table>
		<br>
		<a type="button" class="btn btn-primary" href="/board/writeForm">글 작성</a>
		<input type="button" value="선택삭제" class="btn btn-primary" onclick="selectDelete()">
		<!-- 페이징 영역 -->
		<div class="container" id="pagination">
		<nav aria-label="Page navigation example">
		  <ul class="pagination">
		    <li class="page-item" th:if="${paging.prev}== true">
		    	<a class="page-link" th:href="@{/board/list(page=${paging.startPage}-1,perPageNum=${paging.cri.perPageNum})}">Previous</a>
		   	</li>
		    <li class="page-item" 
		    	th:each="idx,iterStat : ${# numbers.sequence(paging.startPage,paging.endPage)}" 
		    	th:classappend="${paging.cri.page}== ${idx}? active:null">
		    	<a class="page-link" 
		    		th:href="@{/board/list(page=${idx},perPageNum = ${paging.cri.perPageNum})}" 
		    		th:text = "${idx}">
		   		</a>
		   	</li>
		    <li class="page-item" th:if="${paging.next} == true and ${paging.endPage > 0}">
		    	<a class="page-link" th:href="@{/page/list(page=${paging.endPage}+1, perPageNum=${paging.cri.perPageNum})}">Next</a>
		   	</li>
		  </ul>
		</nav>
		</div>
		<div class="row" style="clear:right;width:500px;margin:auto">
			<div class="col-lg-12">
					<select name="searchType" id="searchType">
						<option value="">전체보기</option>
						<option value="T">제목</option>
						<option value="C">내용</option>
						<option value="W">작성자</option>
						<option value="TC">제목과 내용</option>
					</select>
					<input type="text" class="form-control form-control-sm" name="keyword" id="keyword">
					<button class="btn btn-sm btn-primary" name="btnSearch" id="btnSearch">검색</button>
			</div>
		</div>
</div>
</div>		
</div>
<!-- footer -->
<th:block th:replace="fragment/footer :: footerFragment"></th:block>
</body>
<style type="text/css">
ul {
	list-style: none;
	margin: 0;
	padding: 0;
}

li {
	margin: 0 0 0 0;
	padding: 0 0 0 0;
	border: 0;
	float: left;
}
div#pagination.container{
	display: flex;
	justify-content: center;
	margin-bottom:5px;
}
.col-lg-12{
	display: flex;
}
select#searchType{
	height:31px;
}
button#btnSearch.btn.btn-sm.btn-primary{
	height:31px;
	width:100px;
}
</style>
<script th:inline="javascript">
//검색 작동 스크립트
$(document).on('click', '#btnSearch', function(e){
	e.preventDefault();
	var url ="/board/list?"+"page="+[[${paging.cri.page}]]+"&perPageNum="+[[${paging.cri.perPageNum}]]+"&searchType="+$('#searchType').val()+"&keyword="+$('#keyword').val();
	console.log(url);
	location.href = url;
});
//선택삭제 기능
$(function(){
			var chkObj = document.getElementsByName("RowCheck");
			var rowCnt = chkObj.length;
			
			$("input[name='allCheck']").click(function(){
				var chk_listArr = $("input[name='RowCheck']");
				for (var i=0; i<chk_listArr.length; i++){
					chk_listArr[i].checked = this.checked;
				}
			});
			$("input[name='RowCheck']").click(function(){
				if($("input[name='RowCheck']:checked").length == rowCnt){
					$("input[name='allCheck']")[0].checked = true;
				}
				else{
					$("input[name='allCheck']")[0].checked = false;
				}
			});
		});
		function selectDelete(){
			var url = "/board/delete";    // Controller로 보내고자 하는 URL (.dh부분은 자신이 설정한 값으로 변경해야됨)
			var valueArr = new Array();
		    var list = $("input[name='RowCheck']");
		    console.log(list);
		    for(var i = 0; i < list.length; i++){
		        if(list[i].checked){ //선택되어 있으면 배열에 값을 저장함
		            valueArr.push(list[i].value);
		            console.log(list[i]);
		            console.log(valueArr);
		        }
		    }
		    if (valueArr.length == 0){
		    	alert("선택된 글이 없습니다.");
		    }
		    else{
				var chk = confirm("정말 삭제하시겠습니까?");				 
				$.ajax({
				    url : "/board/selectdelete",                    
				    type : 'POST',                
				    data : {valueArr : valueArr},
				    dataType:'josn'
				}).done(function(jdata){
					alert(valueArr);
                    alert("삭제 성공");
                    console.log(jdata);
                    location.replace("/board/list?"+"page="+[[${paging.cri.page}]]+"&perPageNum="+[[${paging.cri.perPageNum}]]+"&searchType="+$('#searchType').val()+"&keyword="+$('#keyword').val());
				}).fail(function(error){
					alert(error);
					alert(valueArr);
				});
			}
		}
</script>
</html>