<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<th:block th:fragment="headerFragment">
<div class="container">
    <header class="d-flex flex-wrap justify-content-center py-3 mb-4 border-bottom">
      <a href="/board/list" class="d-flex align-items-center mb-3 mb-md-0 me-md-auto text-dark text-decoration-none">
        <svg class="bi me-2" width="40" height="32"><use xlink:href="#bootstrap"></use></svg>
        <span class="fs-4">블로그 예제</span>
      </a>
	  <div th:if="${session.login}==null">
      <ul class="nav nav-pills">
      	<li class="nav-item"><a href="/login/join" class="nav-link active" aria-current="page">회원가입</a></li>
        <li class="nav-item"><a href="/login/page" class="nav-link active" aria-current="page">로그인</a></li>
        <li class="nav-item"><a href="/board/about" class="nav-link">About</a></li>
      </ul>
      </div>
      <div th:if="${session.login}">
      <ul class="nav nav-pills">
      	<li class="nav-item"><span th:text="${session.login.userName}">님</span></li>
        <li class="nav-item"><a href="/login/logoutproc" class="nav-link active" aria-current="page">로그아웃</a></li>
        <li class="nav-item"><a href="/board/about" class="nav-link">About</a></li>
      </ul>
      </div>
    </header>
</div>
</th:block>  
</html>