<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="web.com.spring.board.mapper.BoardMapper">
	<!-- 페이징 조각 -->
	<sql id="paging">
		LIMIT #{perPageNum}	 OFFSET #{pageStart}
	</sql>
	<!-- 검색기능 -->
	<sql id="search">
		<trim prefix="WHERE" prefixOverrides="AND|OR">
			<if test="searchType=='T'.toString() and keyword != null and keyword != '' ">
				AND board_title like CONCAT('%', #{keyword}, '%')
			</if>
			<if test="searchType=='C'.toString() and keyword != null and keyword != '' ">
				AND board_contents like CONCAT('%', #{keyword}, '%')
			</if>
			<if test="searchType=='W'.toString() and keyword != null and keyword != '' ">
				AND board_writer like CONCAT('%', #{keyword}, '%')
			</if>
			<if test="searchType=='tc'.toString() and keyword != null and keyword != '' ">
				AND (board_title like CONCAT('%', #{keyword},'%') 
					or board_contents like CONCAT('%',#{keyword},'%'))
			</if>
			<if test="searchType=='all'.toString() and keyword != null and keyword != '' ">
				AND(board_title like CONCAT('%', #{keyword},'%') 
					or board_contents like CONCAT('%',#{keyword},'%') 
					or board_writer like CONCAT('%',#{keyword},'%'))
			</if>	
		</trim>
	</sql>
	<!-- 게시글 작성o.k-->
	<insert id="boardInsert" parameterType="web.com.spring.board.vo.BoardVO">
		insert into 
			p_bbs(board_id,board_title,board_writer,board_contents,reg_date,update_date,HITCOUNT) 
		values(
				#{boardId},#{boardTitle},#{boardWriter},#{boardContents},now(),null,0
			)
	</insert>
	<!-- 게시글 목록 o.k-->
	<select id="boardlist" resultType="web.com.spring.board.vo.BoardVO">
		select 
			* 
		from 
			p_bbs
		<include refid="search"/>	
		order by
			board_id desc,
			reg_date desc
		<include refid="paging"/>		
	</select>
	<!-- 글 조회 o.k-->
	<select id="detailBoard" parameterType="int" resultType="BoardVO">
		select * from p_bbs where board_id = #{boardId}
	</select>
	<!-- 글 수정 o.k-->
	<update id="boardUpdate" parameterType="web.com.spring.board.vo.BoardVO">
		update 
			p_bbs 
		<set>
			<if test="boardTitle neq null and boardTitle neq ''">
				board_title =#{boardTitle},
			</if>
			<if test="boardWriter neq null and boardWriter neq ''">
				board_writer =#{boardWriter},
			</if>
			<if test="boardContents neq null and boardContents neq ''">
				board_contents =#{boardContents},
			</if>
			update_date = now()
		</set>
		where 
			board_id = #{boardId}
 	</update>
 	<!-- 글 삭제-->
 	<delete id="boardDelete" parameterType="int">
 		delete from 
 			p_bbs
 		where board_id = #{boardId}	 
 	</delete>
 	<!-- 게시글 선택삭제 -->
 	<delete id="SelectDelte">
 		delete from p_bbs where board_id = #{boardId}
 	</delete>
 	<!-- 조회수 증가 o.k-->
 	<update id="countup" parameterType="int">
 		update p_bbs set HITCOUNT = HITCOUNT+1 where board_id = #{boardId}
 	</update>
 	<!-- 게시글 총개수 o.k-->
 	<select id="countsum" resultType="int">
 		select 
 			count(*) 
		from 
			p_bbs
		<include refid="search"/>	
 	</select>
</mapper>