<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="web.com.spring.reply.mapper.ReplyMapper">
	<!-- 댓글 목록 o.k-->
	<select id="list" resultType="web.com.spring.reply.vo.ReplyVO">
		select 
			bno,rno,rno_writer,rno_contents,rno_date,rno_update 
		from 
			re_bbs 
		where 
			bno = #{bno}
	</select>
	<!-- 댓글 삽입 o.k-->
	<insert id="InsertReply" parameterType="web.com.spring.reply.vo.ReplyVO">
		insert into 
		re_bbs
			(bno,rno_writer,rno_contents,rno_date,rno_update)
		values
			(#{bno},#{RnoWriter},#{RnoContents},now(),null)
	</insert>
	<!-- 댓글 수정 o.k-->
	<update id="ReplyUpdate" parameterType="web.com.spring.reply.vo.ReplyVO">
		update 
			re_bbs
		set 
			rno_contents = #{RnoContents},
			rno_update = now()
		where 
			rno = #{rno}		 
	</update>
	<!-- 댓글 삭제 o.k-->
	<delete id="DeleteReply" parameterType="web.com.spring.reply.vo.ReplyVO">
		delete from 
			re_bbs 
		where 
			rno = #{rno}
	</delete>
</mapper>